<p id="notice"><%= notice %></p>



<p>
  <strong>Cargo:</strong>
  <%= @vaga.cargo %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @vaga.salario %>
</p>

<p>
  <strong>Cargahoraria:</strong>
  <%= @vaga.cargaHoraria %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vaga.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @vaga.telefone %>
</p>

<%= link_to 'Editar', edit_vaga_path(@vaga) %> |
<%= link_to 'Voltar', vagas_path %>
