<p id="notice"><%= notice %></p>

<h1>Candidatos Inscritos</h1>

<table>
  <thead>
    <tr>
   
      <th>Foto</th>
      <th>Formacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatos.each do |candidato| %>
      <tr>
      
        <td><%= candidato.foto %></td>
        <td><%= candidato.formacao %></td>
        <td><%= link_to 'Mostrar', candidato %></td>
        <td><%= link_to 'Editar', edit_candidato_path(candidato) %></td>
        <td><%= link_to 'Excluir', candidato, method: :delete, data: { confirm: 'Tem certeza de que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Candidato', new_candidato_path %>
